fastapi[standard]
pytest
sqlalchemy 
pydantic
psycopg2-binary
asyncpg
python-dotenv
python-multipart
httpx
passlib
PyJWT
uvicorn
requests
pyspark
matplotlib
seaborn
numpy 
pandas
pydantic-settings
pyarrow
apache-airflow-providers-openlineage>=1.8.0